<!DOCTYPE html>
<html lang="en">
<head>
    {% if messages %}

  {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}

{% endif %}
    <meta charset="UTF-8">
    <div class="container mt-5">
        <h1>Обновление баланса</h1>
        <form method="post">
            <input type="text" name="user_id", id="user_id" class="form-control" required placeholder="Введите id пользователя">
            <input type="text" name="city", id="city" class="form-control" required placeholder="Введите название города">
            <input type="submit" class="btn btn-success" value="Отправить">
        </form>
    </div>
</head>
<body>

</body>
</html>